@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #fff;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-container {
    width: 768px;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .page-container {
    width: 1200px;
    -webkit-box-shadow: -3px 0 15px 0 rgba(0, 1, 1, 0.2), 3px 0 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: -3px 0 15px 0 rgba(0, 1, 1, 0.2), 3px 0 15px 0 rgba(0, 1, 1, 0.2);
  }
}
.main-nav {
  position: relative;
  padding-bottom: 55px;
}
.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: 25px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
          box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed .site-list {
  display: none;
}
.main-nav--opened .main-nav__toggle {
  top: 25px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
  height: 4px;
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .site-list {
  display: block;
}
.main-nav__logo-link {
  position: absolute;
  z-index: 10;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .main-nav {
    padding: 0;
  }
  .main-nav--closed .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__logo-link {
    top: 0;
    bottom: auto;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__link {
  display: block;
  padding: 7px 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.site-list__item:last-child .site-list__link {
  border-bottom: none;
}
.site-list__link[href]:hover {
  background-color: #669ec0;
}
.site-list__link[href]:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .site-list__item:last-child .site-list__link {
    position: relative;
  }
  .site-list__item:last-child .site-list__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 7px;
    -webkit-box-shadow: inset 0 -4px 5px -2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -4px 5px -2px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .site-list__item--main {
    margin-right: 75px;
    padding-left: 40px;
  }
  .site-list__item--multimedia {
    margin-right: 210px;
  }
  .site-list__item--form {
    margin-right: 50px;
  }
  .site-list__link {
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 800;
    color: #000;
    background-color: #fff;
    border: none;
  }
  .site-list__link[href]:hover {
    background-color: transparent;
    color: #81b3d2;
  }
  .site-list__link[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .site-list__link:not([href]) {
    color: #766357;
  }
  .site-list__link:not([href]):hover {
    color: #766357;
  }
  .site-list__link:not([href]):active {
    color: rgba(118, 99, 87, 0.3);
  }
}
@media (min-width: 1200px) {
  .site-list__link {
    padding: 18px 0;
  }
  .site-list {
    width: 100%;
  }
  .site-list__item--main {
    margin-right: 160px;
    padding-left: 90px;
  }
  .site-list__item--multimedia {
    margin-right: 380px;
  }
  .site-list__item--form {
    margin-right: 135px;
  }
}
.sedona-image-wrapper {
  position: relative;
  width: 100%;
  height: 390px;
  padding: 90px 0;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.sedona-image-wrapper--secondary-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  padding: 0;
  background-position: bottom;
}
.sedona-image-wrapper::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-intro-triangle-mobile.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.sedona-image-wrapper img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 282px;
  height: 214px;
}
.sedona-image-wrapper--secondary-page img {
  width: 229px;
  height: 39px;
}
@media (min-width: 768px) {
  .sedona-image-wrapper {
    height: 520px;
    padding-top: 80px;
    background-image: url('../img/bg-back-tablet@1x.jpg');
  }
  .sedona-image-wrapper--secondary-page {
    height: 290px;
    padding-top: 0;
  }
  .sedona-image-wrapper::after {
    width: 768px;
    height: 57px;
    background-image: url('../img/bg-intro-triangle-tablet.svg');
  }
  .sedona-image-wrapper img {
    width: 460px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .sedona-image-wrapper {
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }
  .sedona-image-wrapper::after {
    width: 1200px;
    background-image: url(../img/bg-intro-triangle-desktop.svg);
  }
}
.intro-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 5px;
}
.intro-block--photo-page {
  padding-bottom: 30px;
}
.intro-block--form-page {
  padding-bottom: 20px;
}
.intro-block__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  width: 260px;
  padding-bottom: 10px;
  text-align: center;
}
.intro-block__intro {
  margin: 0;
  padding: 0;
  width: 255px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.intro-block--photo-page .intro-block__intro {
  width: 280px;
}
.intro-block--form-page .intro-block__intro {
  width: 280px;
}
@media (min-width: 768px) {
  .intro-block {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .intro-block__header {
    width: 470px;
    padding-bottom: 5px;
    font-size: 21px;
  }
  .intro-block__intro {
    width: 600px;
  }
  .intro-block--photo-page,
  .intro-block--form-page {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .intro-block--photo-page .intro-block__header,
  .intro-block--form-page .intro-block__header {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 26px;
  }
  .intro-block--photo-page .intro-block__intro {
    width: 440px;
  }
  .intro-block--form-page .intro-block__intro {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .intro-block--photo-page {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .intro-block--form-page {
    padding-top: 90px;
    padding-bottom: 40px;
  }
}
.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}
.promo__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  padding-bottom: 10px;
  text-align: center;
}
.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.promo__text {
  margin: 0;
  padding: 0;
  width: 265px;
  padding-bottom: 40px;
  padding-top: 5px;
  text-align: center;
}
.promo__item--detailed {
  background-color: #81b3d2;
  color: #fff;
}
.promo-detailed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__number {
  padding-bottom: 10px;
}
.promo__item--detailed:first-child {
  padding-top: 75px;
  background-image: url(../img/bg-triangle.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}
.promo__item--detailed .promo__header {
  color: #fff;
}
.promo__item--detailed picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
.promo-img {
  width: 100%;
}
.promo__item--brief {
  position: relative;
  padding-top: 20px;
}
.promo__item--brief .promo__text {
  width: 250px;
}
.promo__item--brief:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87.5%;
  height: 1px;
  background-color: #282828;
}
@media (min-width: 768px) {
  .promo__item--more-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo__header {
    width: 151px;
    padding-top: 35px;
    font-size: 21px;
  }
  .promo__text {
    width: 170px;
    padding-bottom: 40px;
  }
  .promo__number {
    padding-bottom: 30px;
  }
  .promo__item--detailed:first-child {
    padding-top: 0;
    background-image: none;
  }
  .promo__item--detailed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
  }
  .promo-detailed-container {
    width: 33.3%;
  }
  .promo__item--detailed picture {
    width: 66.6%;
  }
  .promo__item--brief:not(:last-child)::after {
    display: none;
  }
  .promo__item--brief {
    width: 33.3%;
  }
  .promo__item--brief .promo__header {
    padding-top: 20px;
  }
  .promo__item--brief .promo__number {
    padding-bottom: 20px;
  }
  .promo__item--brief .promo__text {
    width: 160px;
  }
  .promo__item--bridge picture {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (min-width: 1200px) {
  .promo__text {
    width: 220px;
  }
  .promo__item--brief {
    position: relative;
    padding-bottom: 25px;
  }
  .promo__item--brief .promo__text {
    width: 260px;
  }
}
.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 35px;
  padding-left: 25px;
  padding-bottom: 10px;
  background-color: #fff;
  color: #333333;
}
.advantages__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  padding-bottom: 13px;
}
.advantages__text {
  margin: 0;
  padding: 0;
  width: 205px;
  padding-bottom: 30px;
}
.advantages__item {
  position: relative;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -50px;
  width: 39px;
  height: 37px;
  background-size: cover;
}
.advantages__item--house::before {
  background-image: url('../img/icon-house.svg');
}
.advantages__item--gift::before {
  width: 32px;
  height: 38px;
  background-image: url('../img/icon-gift.svg');
}
.advantages__item--burger::before {
  width: 40px;
  height: 35px;
  background-image: url('../img/icon-burger.svg');
}
@media (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 15px;
    padding-left: 0;
  }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33.3%;
    padding-top: 135px;
    padding-bottom: 60px;
  }
  .advantages__header {
    padding-top: 15px;
    font-size: 21px;
  }
  .advantages__text {
    width: 165px;
    padding-bottom: 0;
    text-align: center;
  }
  .advantages__item--gift {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages__item::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 75px;
    height: 72px;
    background-size: cover;
  }
  .advantages__item--gift::before {
    width: 64px;
    height: 75px;
    background-image: url('../img/icon-gift.svg');
  }
  .advantages__item--burger::before {
    width: 77px;
    height: 68px;
    background-image: url('../img/icon-burger.svg');
  }
}
@media (min-width: 1200px) {
  .advantages__text {
    width: 235px;
  }
}
.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}
.search-block__intro {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  font-size: 21px;
  padding-bottom: 20px;
}
.search-block__text {
  margin: 0;
  padding: 0;
  width: 290px;
  padding-bottom: 35px;
  text-align: center;
  line-height: 24px;
}
.search-block__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #fff;
  background-color: #81b3d2;
  width: 100%;
  max-width: 460px;
  padding: 15px 45px;
  text-align: center;
  border: none;
}
.search-block__button:hover {
  background-color: #669ec0;
}
.search-block__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.search-block__button:disabled {
  background-color: #e5e5e5;
}
.search-block__map iframe {
  width: 100%;
  height: 160px;
  border: 0;
}
@media (min-width: 768px) {
  .search-block__intro {
    padding-bottom: 30px;
    font-size: 30px;
  }
  .search-block__text {
    width: 400px;
    padding-bottom: 40px;
  }
  .search-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .search-block__map iframe {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .search-block {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .search-block__button {
    padding: 20px;
  }
  .search-block__text {
    width: 400px;
  }
}
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 35px;
}
.page-footer__hashtag {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.page-footer__copyright {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 140px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
}
.copyright-svg:hover {
  fill: #669ec0;
}
.copyright-svg:active {
  fill: rgba(102, 158, 192, 0.3);
}
@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 640px;
    min-height: 120px;
  }
  .page-footer__hashtag {
    padding: 0;
  }
  .page-footer__copyright {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
  }
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 155px;
}
.social__item {
  width: 47px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #81b3d2;
}
.social__item:hover,
.social__item:active {
  background-color: #669ec0;
}
.social__svg {
  vertical-align: middle;
  fill: #fff;
}
.social__item:active .social__svg {
  fill: rgba(255, 255, 255, 0.3);
}
.multimedia {
  padding-bottom: 100px;
}
.multimedia__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}
.multimedia__photo-header {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 800;
  color: #000;
}
.photo-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.multimedia__author {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-transform: initial;
}
.multimedia__likes {
  position: relative;
  padding-left: 35px;
  font-weight: 800;
  color: #000;
}
.multimedia__likes::before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 20px;
  opacity: 0.3;
  background-image: url('../img/icon-like.svg');
}
.multimedia__item {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
}
.multimedia__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.multimedia-item picture {
  width: 100%;
}
.multimedia-img {
  width: 100%;
}
@media (min-width: 768px) {
  .multimedia {
    padding-bottom: 40px;
  }
  .multimedia__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
  }
  .multimedia__item--more--multimedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .multimedia__item--more--multimedia .multimedia__item {
    width: 50%;
  }
  .description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
  }
  .multimedia__likes {
    padding-right: 40px;
  }
  .multimedia__item {
    padding: 0;
    background-color: #f2f2f2;
  }
  .multimedia__item::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .multimedia {
    padding-bottom: 80px;
  }
  .multimedia__item--more--multimedia .multimedia__item {
    width: 33.3%;
  }
  .multimedia__list {
    padding-left: 0;
    padding-right: 0;
  }
  .multimedia__item {
    position: relative;
  }
  .photo-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .multimedia__likes::before {
    background-image: url('../img/icon-like-white.svg');
    opacity: 1;
  }
  .multimedia__item picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .multimedia__photo-header {
    color: #fff;
  }
}
.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.video__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  padding-bottom: 35px;
}
.video__text {
  margin: 0;
  padding: 0;
  width: 245px;
  text-align: center;
}
.video__block {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding-top: 35px;
}
.video__block picture {
  width: 100%;
}
.video-volume {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 87.5%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.volume-scale {
  position: relative;
  width: 85%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.volume-toggle {
  position: absolute;
  top: 50%;
  left: 14%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.video-settings {
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: -3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 87.5%;
  height: 65px;
  background-color: rgba(242, 242, 242, 0.4);
}
.video__button {
  content: "";
  position: absolute;
  border: none;
  background-color: transparent;
}
.video__button svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: #5c6870;
}
.video__button--replay {
  bottom: -100%;
  left: 7%;
  width: 16px;
  height: 21px;
}
.replay-svg {
  width: 16px;
  height: 21px;
}
.video__button--fullscreen {
  bottom: -100%;
  right: 7%;
  width: 20px;
  height: 20px;
}
.fullscreen-svg {
  width: 20px;
  height: 20px;
}
.video__button--subtitles {
  bottom: -100%;
  right: 28%;
  width: 32px;
  height: 20px;
}
.subtitles-svg {
  width: 32px;
  height: 20px;
}
.video__button:hover svg {
  fill: #000;
}
.video__button:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .video {
    padding-top: 60px;
  }
  .video::before {
    display: none;
  }
  .video-settings {
    display: none;
  }
  .video__slogan {
    font-size: 30px;
  }
  .video__text {
    width: 420px;
  }
  .video__block {
    max-width: 648px;
    padding-top: 70px;
  }
  .video-volume {
    width: 100%;
    height: 95px;
  }
  .volume-toggle {
    left: 29%;
    width: 8px;
    height: 8px;
  }
  .volume-scale {
    position: absolute;
    left: 14%;
    width: 60%;
  }
  .video__button svg {
    fill: #fff;
  }
  .video__button--replay {
    bottom: 50%;
    left: 6%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .video__button--fullscreen {
    bottom: 50%;
    right: 6%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .video__button--subtitles {
    bottom: 50%;
    right: 14%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .video__button:hover svg {
    fill: rgba(255, 255, 255, 0.6);
  }
  .video__button:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1200px) {
  .video {
    padding-top: 70px;
  }
  .video__block {
    max-width: 800px;
  }
}
.feedback__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.feedback__intro {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}
.feedback__form legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
.form-bottom {
  width: 100%;
}
.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #fff;
  background-color: #81b3d2;
  display: block;
  width: 90%;
  max-width: 460px;
  padding: 15px 35px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.feedback-form__button:hover {
  background-color: #669ec0;
}
.feedback-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.feedback-form__button:disabled {
  background-color: #e5e5e5;
}
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-wrapper fieldset,
.sight-fieldset,
.emotions-fieldset {
  position: relative;
}
.form-wrapper fieldset::before,
.sight-fieldset::before,
.emotions-fieldset::before {
  content: "";
  position: absolute;
  top: 0;
  width: 95%;
  height: 1px;
  background-color: #e5e5e5;
}
.impression-fieldset {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.form__obligatory-field {
  display: none;
}
@media (min-width: 768px) {
  .impression-fieldset {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .feedback-form__button {
    width: 324px;
    margin: 0;
  }
  form-wrapper fieldset::before,
  .sight-fieldset::before,
  .emotions-fieldset::before {
    width: 648px;
  }
  .impression-fieldset::before,
  .name-fieldset::before {
    display: none;
  }
  .form-wrapper .contacts-fieldset::before {
    top: 32px;
    left: 41px;
    z-index: -2;
    width: 648px;
  }
  .sight-fieldset::before {
    top: 44px;
    left: 41px;
    z-index: -2;
    width: 648px;
  }
  .emotions-fieldset::before {
    top: 38px;
    z-index: -2;
  }
  .form__obligatory-field {
    display: inline;
  }
  .form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 55px;
  }
}
@media (min-width: 1200px) {
  .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .impression-fieldset {
    width: 480px;
  }
  .name-fieldset {
    width: 480px;
  }
  .contacts-fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
  }
  .feedback-form__button {
    width: 480px;
  }
  .form-wrapper .contacts-fieldset::before {
    left: 110px;
    width: 960px;
  }
  .sight-fieldset::before {
    left: 105px;
    width: 968px;
  }
  .emotions-fieldset::before {
    left: 100px;
    width: 968px;
  }
  .form-bottom {
    padding-left: 110px;
    padding-right: 130px;
    padding-bottom: 30px;
  }
}
.name-fieldset {
  border: none;
}
.name-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 5px;
}
.name-fieldset__item {
  padding-bottom: 18px;
}
.name-fieldset__label {
  padding-right: 15px;
  font-size: 14px;
  line-height: 26px;
}
.name-fieldset__label sup {
  top: -2px;
}
.name-fieldset__input {
  width: 66%;
  height: 58px;
  padding-left: 20px;
  border: none;
  background-color: #f2f2f2;
}
.name-fieldset__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.name-fieldset__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.name-fieldset__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.name-fieldset__input:hover {
  background-color: #e5e5e5;
}
.name-fieldset__input:active {
  border: 4px solid #e5e5e5;
  background-color: #fff;
}
.name-fieldset__item:first-child .name-fieldset__input {
  width: 77%;
}
@media (min-width: 768px) {
  .name-fieldset {
    width: 49%;
    padding-left: 45px;
    padding-bottom: 35px;
  }
  .name-fieldset legend {
    padding-bottom: 50px;
    font-size: 21px;
    text-align: initial;
  }
  .name-fieldset__input {
    width: 55%;
  }
  .name-fieldset__item:first-child .name-fieldset__input {
    width: 68%;
  }
}
@media (min-width: 1200px) {
  .name-fieldset {
    padding-left: 75px;
  }
  .name-fieldset__input {
    width: 312px;
  }
  .name-fieldset__item:first-child .name-fieldset__input {
    width: 350px;
  }
}
.contacts-fieldset {
  border: none;
}
.contacts-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-fieldset__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.contacts-fieldset__label {
  padding-left: 30px;
  font-size: 14px;
  line-height: 26px;
}
.contacts-container {
  position: relative;
  width: 100%;
}
.contacts-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 58px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-container--phone::after {
  background-image: url('../img/icon-phone.svg');
}
.contacts-container--email::after {
  background-image: url('../img/icon-mail.svg');
}
.contacts-fieldset__input {
  width: 80%;
  height: 58px;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}
.contacts-fieldset__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.contacts-fieldset__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.contacts-fieldset__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.contacts-fieldset__input:hover {
  background-color: #e5e5e5;
}
.contacts-fieldset__input:active {
  border: 4px solid #e5e5e5;
  background-color: #fff;
}
.contacts-fieldset__label sup {
  top: -2px;
}
@media (min-width: 768px) {
  .contacts-fieldset__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 35px;
    padding-right: 30px;
  }
  .contacts-fieldset {
    width: 99%;
    padding-bottom: 30px;
  }
  .contacts-fieldset legend {
    width: 350px;
    font-size: 21px;
    background-color: #fff;
  }
  .contacts-fieldset__input {
    width: 590px;
  }
  .contacts-container::after {
    width: 58px;
    right: 30px;
  }
}
@media (min-width: 1200px) {
  .desktop-hide {
    display: none;
  }
  .contacts-fieldset {
    padding-bottom: 15px;
  }
  .contacts-fieldset legend {
    padding-bottom: 70px;
  }
  .contacts-fieldset__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts-fieldset__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .contacts-fieldset__item--phone {
    padding-left: 65px;
  }
  .contacts-fieldset__input {
    width: 257px;
  }
  .contacts-fieldset__label {
    padding-left: 0;
  }
  .contacts-fieldset__label--email {
    width: 220px;
  }
  .contacts-container--phone {
    padding-left: 20px;
  }
  .contacts-container--email {
    padding-left: 10px;
  }
  .contacts-container--phone::after {
    right: 85px;
  }
  .contacts-container--email::after {
    right: 70px;
  }
}
.impression-fieldset {
  border: none;
}
.impression-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 85px;
}
.impression-fieldset__item {
  width: 100%;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.impression-fieldset__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  position: relative;
  text-transform: initial;
  cursor: pointer;
}
.impression-fieldset__label:hover::before {
  background-color: #e5e5e5;
}
.impression-fieldset__label:active::before {
  background-color: #d2d2d2;
}
.impression-fieldset__label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -70px;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}
.impression-fieldset__item input:checked ~ .impression-fieldset__label::before {
  background-image: url(../img/icon-map-marker.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .impression-fieldset__list {
    position: relative;
    padding-left: 110px;
  }
  .impression-fieldset__list::after {
    content: "";
    position: absolute;
    top: -100px;
    right: -10px;
    width: 1px;
    height: 292px;
    background-color: #e6e6e6;
  }
  .impression-fieldset {
    width: 49%;
  }
  .impression-fieldset legend {
    font-size: 21px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .impression-fieldset legend {
    padding-left: 60px;
  }
  .impression-fieldset__list {
    padding-left: 175px;
  }
}
.sight-fieldset {
  border: none;
}
.sight-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 80px;
}
.sight-fieldset__item {
  width: 100%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sight-fieldset__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  position: relative;
  text-transform: initial;
  cursor: pointer;
}
.sight-fieldset__label:hover::before {
  background-color: #e5e5e5;
}
.sight-fieldset__label:active::before {
  background-color: #d2d2d2;
}
.sight-fieldset__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -70px;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.sight-fieldset__item input:checked ~ .sight-fieldset__label::before {
  background-image: url(../img/icon-tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.sight-fieldset legend {
  width: 250px;
}
@media (min-width: 768px) {
  .sight-fieldset {
    padding-bottom: 25px;
  }
  .sight-fieldset__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 220px;
  }
  .sight-fieldset__item {
    width: 240px;
  }
  .sight-fieldset__label {
    width: 200px;
  }
  .sight-fieldset legend {
    width: 350px;
    padding-bottom: 50px;
    font-size: 21px;
    background-color: #fff;
  }
}
@media (min-width: 1200px) {
  .sight-fieldset {
    padding-bottom: 10px;
  }
  .sight-fieldset__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-left: 165px;
  }
  .sight-fieldset__item {
    width: 25%;
    padding-left: 0;
  }
}
.emotions-fieldset {
  padding-bottom: 40px;
  border: none;
}
.emotions-fieldset label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.emotions-fieldset textarea {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border: none;
  resize: none;
}
.emotions-fieldset textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.emotions-fieldset textarea::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.emotions-fieldset textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}
.emotions-fieldset textarea:hover {
  background-color: #e5e5e5;
}
.emotions-fieldset textarea:active {
  border: 4px solid #e5e5e5;
  background-color: #fff;
}
@media (min-width: 768px) {
  .emotions-fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  .emotions-fieldset label {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 21px;
    background-color: #fff;
  }
  .emotions-fieldset textarea {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .emotions-fieldset {
    padding-left: 105px;
    padding-right: 125px;
    padding-bottom: 60px;
  }
  .emotions-fieldset textarea {
    padding-bottom: 0;
  }
}
