.advantages {
  .reset-list();

  background-color: #fff;
  color: #333333;
}

.advantages__header {
  .reset-indents();

  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}

.advantages__text {
  .reset-indents();
}
