.emotions-fieldset {
  border: none;
}

.emotions-fieldset label {
  .frequent-header();
}

.emotions-fieldset textarea {
  background-color: @bg-input-text;

  &::placeholder {
    .frequent-header();
  }
}

@media (min-width: @tablet-width) {
  .emotions-fieldset {
    display: flex;
    flex-direction: column;
  }

  .emotions-fieldset textarea {
    width: 100%;
  }
}
