.emotions-fieldset {
  padding-bottom: 40px;

  border: none;
}

.emotions-fieldset label {
  .frequent-header();
  display: block;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;

  text-align: center;
}

.emotions-fieldset textarea {
  width: 100%;
  padding: 20px;

  background-color: @bg-input-text;

  border: none;
  resize: none;

  &::placeholder {
    .frequent-header();
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    border: 4px solid #e5e5e5;
    background-color: #fff;
  }
}

@media (min-width: @tablet-width) {
  .emotions-fieldset {
    display: flex;
    flex-direction: column;

    padding-left: 50px;
    padding-right: 50px;
  }

  .emotions-fieldset label {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 50px;

    font-size: @tablet-legend-font-size;
    background-color: @bg-tablet-legend;
  }

  .emotions-fieldset textarea {
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    .emotions-fieldset {
      padding-left: 105px;
      padding-right: 125px;
      padding-bottom: 60px;
    }

    .emotions-fieldset textarea {
      padding-bottom: 0;
    }
  }
}
