.feedback {
  outline: 2px dotted red;
}

.feedback__header {
  .reset-indents();

  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}

.feedback__intro {
.reset-indents();

font-size: 14px;
line-height: 24px;
}

.feedback__form legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}

.feedback-form__button {
  font-style: 21px;
  line-height: 26px;
  font-weight: 800;

  color: #fff;
  background-color: #81b3d2;
  text-transform: uppercase;
}
