.intro-block__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
}

.intro-block__intro {
  .reset-indents();

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
