.intro-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 45px;
  padding-bottom: 50px;

  &--photo-page {
    padding-bottom: 30px;
  }
}

.intro-block__header {
  .frequent-header();
  width: 260px;
  padding-bottom: 20px;

  text-align: center;
}

.intro-block__intro {
  .reset-indents();
  width: 255px;
  font-size: @intro-font-size;
  line-height: 26px;
  font-weight: 400;

  text-align: center;
}

.intro-block--photo-page .intro-block__intro {
  width: 280px;
}

.intro-block--form-page .intro-block__intro {
  width: 280px;
}


@media (min-width: @tablet-width) {
  .intro-block {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .intro-block__slogan {
    width: 470px;
    font-size: 21px;
    padding-bottom: 36px;
  }

  .intro-block__intro {
    width: 600px;
  }

  .intro-block--photo-page .intro-block__header {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 5px;
  }

  .intro-block--photo-page .intro-block__intro {
    width: 460px;
  }

  .intro-block--form-page .intro-block__intro {
    width: 440px;
  }
}
