.main-nav {
  background-color: @bg-nav;
}

@media (min-width: @tablet-width) {
  .main-nav {
  background-color: @bg-nav-tablet;
  }

  .main-nav__close,
  .main-nav__toggle {
    display: none;
  }
}

