.multimedia {
  padding-bottom: 100px;
}

.multimedia__list {
  .reset-list();
  font-size: @multimedia-list-font-size;
  line-height: 24px;
}

.multimedia__photo-header {
  .reset-indents();
  font-size: 14px;
  font-weight: 800;
  color: @multimedia-photo-header-font-color;
}

.photo-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.multimedia__author {
  .reset-indents();
  padding-bottom: 10px;

  text-transform: initial;
}

.multimedia__likes {
  position: relative;

  padding-left: 35px;

  font-weight: 800;
  color: @multimedia-likes-font-color;

  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 22px;
    height: 20px;

    opacity: 0.3;

    background-image: url('../img/icon-like.svg');
  }
}

.multimedia__item {
  position: relative;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: @bg-multimedia__item-pseudo;
  }
}

.multimedia-item picture {
  width: 100%;
}

.multimedia-img {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .multimedia {
    padding-bottom: 40px;
  }

  .multimedia__list {
    display: flex;
    flex-direction: column;

    padding-left: 60px;
    padding-right: 60px;
  }

  .multimedia__item--more--multimedia {
    display: flex;
    flex-wrap: wrap;
  }

  .multimedia__item--more--multimedia .multimedia__item {
    width: 50%;
  }

  .description-container {
    display: flex;
    flex-direction: column;
  }

  .photo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
  }

  .multimedia__likes {
    padding-right: 40px;
  }

  .multimedia__item {
    padding: 0;

    background-color: @bg-multimedia__item;

    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .multimedia {
    padding-bottom: 80px;
  }

  .multimedia__item--more--multimedia .multimedia__item {
    width: 33.3%;
  }

  .multimedia__list {
    padding-left: 0;
    padding-right: 0;
  }

  .multimedia__item {
    position: relative;
  }

  .photo-container {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 80px;

    background-color: @bg-photo-container-desktop;
    color: #fff;
  }

  .multimedia__likes::before {
    background-image: url('../img/icon-like-white.svg');
    opacity: 1;
  }

  .multimedia__item picture {
    display: flex;
  }
}
