.multimedia {
  outline: 2px dotted red;
}

.multimedia__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.multimedia__intro {
  .reset-indents();
  font-size: 14px;
  line-height: 24px;
}

.multimedia__list {
  .reset-list();
}

.multimedia__photo-header {
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.multimedia__author {
  .reset-indents();

  font-size: 14px;
  line-height: 24px;
  text-transform: initial;
}

.multimedia__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}
