.name-fieldset {
  border: none;
}

.name-fieldset__list {
  .reset-list();
}

.name-fieldset__label {
  font-size: 14px;
  line-height: 26px;
}

.name-fieldset__input {
  background-color: #f2f2f2;

  &::placeholder {
    .frequent-header();
  }
}

