.page-footer {
  outline: 2px dotted red;
}

.page-footer__hashtag {
  .reset-indents();
  font-size: @footer-hashtag-font-size;
  line-height: 26px;
  font-weight: 800;
  color: @footer-hashtag-font-color;
}

.page-footer__copyright {
  .reset-indents();
  font-size: @footer-copyright-font-size;
  line-height: 26px;
  font-weight: 400;
  color: @footer-copyright-font-color;
}


@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
  }
}
