.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 50px;
}

.search-block__intro {
  .frequent-header();
  padding-bottom: 25px;
}

.search-block__text {
  .reset-indents();
  width: 290px;
  padding-bottom: 35px;

  text-align: center;
  line-height: 24px;
}

.search-block__button {
  .button-props();
  width: 100%;
  max-width: 460px;
  padding: 20px 45px;

  text-align: center;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.search-block__map {
  min-height: 350px;

  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-position: center;
  background-size: contain;
}

@media (min-width: @tablet-width) {
  .search-block__intro {
    font-size: 30px;
    padding-bottom: 35px;
  }

  .search-block__text {
    width: 440px;
    padding-bottom: 50px;
  }

  .search-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .search-block__map {
    min-height: 350px;

    background-image: url(../img/bg-map-tablet@1x.jpg);
  }
}

@media (min-width: @desktop-width) {
  background-image: url(../img/bg-map-desktop@1x.jpg);
}

