.search-block__intro {
  .frequent-header();

.search-block__text {
  .reset-indents();

  line-height: 24px;
  }
}

.search-block__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #fff;
  background-color: @bg-lightblue;
}
