.sight-fieldset {
  border: none;
}

.sight-fieldset__list {
  .reset-list();
}

.sight-fieldset__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: #000;
  text-transform: initial;
}
