.site-list {
  .reset-list();
}

.site-list__link {
  font-size: @site-list-font-size;
  line-height: 40px;
  font-weight: 800;
  color: @site-list-font-color;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
  }

  .site-list__link {
    font-size: @site-list-font-size-tablet;
    line-height: 26px;
    font-weight: 800;
    color: @site-list-font-color-tablet;
  }
}
