.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indents() {
  margin: 0;
  padding: 0;
}

.frequent-header() {
  font-size: @frequent-header-font-size;
  line-height: 26px;
  font-weight: 800;

  color: @frequent-header-font-color;
}

.button-props() {
  font-size: @button-font-size;
  line-height: 26px;
  font-weight: 800;

  color: @button-font-color;
  background-color: @bg-button;
}
